/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
}

button {
  border: 0;
  &:focus {
    outline: none;
  }
}

.output__button {
  height: 100%;
  cursor: pointer;
  display: flex;
  border-radius: 100px;
  transition: background-color 0.2s;
  padding: 0 12px 0 16px;
  gap: 8px;

  &:hover {
    background-color: #f0f0f0;

    & > span,
    & > i {
      color: #3e3e3e;
    }
  }

  @media screen and (max-width: 639px) {
    padding: 0;
    aspect-ratio: 1/1;
  }

  & > span {
    transition: color 0.2s;
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 600;
    margin: auto;

    @media screen and (max-width: 639px) {
      display: none;
    }
  }

  & > i {
    transition: color 0.2s;
    color: #a3a3a3;
    font-size: 20px;
    margin: auto;

    @media screen and (max-width: 639px) {
      font-size: 18px;
    }
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
