/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
}

button {
  border: 0;
  &:focus {
    outline: none;
  }
}

.output__button {
  height: 100%;
  cursor: pointer;
  display: flex;
  border-radius: 100px;
  transition: background-color 0.2s;
  padding: 0 12px 0 16px;
  gap: 8px;

  &:hover {
    background-color: #f0f0f0;

    & > span,
    & > rmx-icon {
      color: #3e3e3e;
    }
  }

  @media screen and (max-width: 639px) {
    padding: 0;
    aspect-ratio: 1/1;
  }

  & > span {
    transition: color 0.2s;
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 600;
    margin: auto;

    @media screen and (max-width: 639px) {
      display: none;
    }
  }

  & > rmx-icon {
    transition: color 0.2s;
    color: #a3a3a3;
    margin: auto;
    width: 20px;
    height: 20px;

    @media screen and (max-width: 639px) {
      font-size: 18px;
    }
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2) 0 8px 10px 1px rgba(
      0,
      0,
      0,
      0.14
    ) 0 2px 14px 2px rgba(0, 0, 0, 0.12);
}
